* { 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

form {
    background: #363641;
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 50px;
    border-top: 2px solid rgb(134, 206, 173);
}

form input {
    border-radius: 10px;
    width: calc(100vw - 170px); 
    height: 100%;
    border: none;
    margin-left: 5px;
    text-indent: 10px; 
}

form button { 
    width: 150px; 
    background: #95190C; 
    border: none; 
    height: 100%;
    border-radius: 5px;
    color: rgb(212, 212, 212);
    margin-right: 5px;
    margin-left: 5px;
}

.formContainer {
    height:80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#fishLogo {
    width: 200px;
    height: auto;
    margin-top: -3%;
}

header {
    background: #363641;
    height: 90px;
    border-bottom: 2px solid rgb(134, 206, 173);
}

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 475%;
    color: #95190C; 
    padding-left: 15px;
}

#activeUsersDisplay h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vw;
    color: #F1FFFA; 
    font-weight: 500;
}

#mainContent {
    height: calc(100vh - 140px);
    
}

#logoDiv {
    min-width: 200px;
}

#messagesDisplayContainer{
    background-image: url("chat-wallpaper.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    border-right: 2px solid rgb(134, 206, 173);
    padding-right: 0px;
}

#activeUsersDisplay{
    background: rgb(56, 87, 114);
}

#activeUsersCol {
    height: calc(100vh - 190px);
}

.scrollableContent {
    overflow: auto;
    max-height: calc(100vh - 190px);
}

.list-group-item {
    border-width: 2px;
}

#messagesDisplay {
    width: 75vw;
    height: calc(100vh - 140px);
    display: table-cell;
    vertical-align: bottom;
}
  
#messages {
    max-width: 75vw;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
}

.message {
    margin-bottom: 3vh;
    border-radius: 5px;
    margin-right: 1vw;
}

.textContainer {
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    max-width: 70vw;
    overflow-wrap: break-word;
}

.textContainer span {
    padding: 10px;
}

.name {
    color: #000000;
    font-weight: bold;
}

.messageText {
    color: #000000;
}

.timestamp {
    color: rgb(90, 90, 90);
    font-style: italic;
}

.message.text-right .timestamp {
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

.message.text-left .timestamp {
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
}

input.messageBox:focus {
    outline-width: 0;
}

.alert {
    position: fixed;
    top: 7%;
    left: 10%;
    z-index: 1;
    width: 80vw;
    display: none;
}

/* Scrollbar Style for Webkit Browsers */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff00; 
}

::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* Media Queries */ 
@media (max-width: 825px){
    h1 {
        font-size: 350%;
        padding-top: 10px;
    }
}

@media (max-width: 680px){
    h1 {
        font-size: 250%;
        padding-top: 20px;
    }
}
